* {
	font-family: JetBrains Mono;
	font-size: 18px;
	border-radius: 0px;
	border: none;
}

window#waybar {
	background: transparent;
}

  /******************/
 /*** LEFT SIGHT ***/
/******************/

#workspaces {
	margin: 5px 0 5px 5px;
}
#workspaces button {
	padding: 0;
	min-width: 30px;
}
#workspaces button.active {
	background: white;
	color: black;
}
#workspaces button:not(.active) {
	background: black;
	color: white;
}
#workspaces button:hover {
	background: white;
	color: black;

	box-shadow: inherit;
	text-shadow: inherit;
	transition: 0;	
}

  /**************/
 /*** CENTER ***/
/**************/

#clock {
	background: black;
	color: white;

	margin: 5px 5px 5px 0;
	padding: 0 5px 0 5px; 
}
#clock:hover {
	background: white;
	color: black;
}

  /*******************/
 /*** RIGHT SIGHT ***/
/*******************/

#wireplumber {
	background: black;
	color: white;
	
	margin: 5px 5px 5px 0;
	padding: 0 12px 0 5px; 
}
#wireplumber:hover {
	background: white;
	color: black;
}
#battery {
	background: black;
	color: white;

	margin: 5px 5px 5px 0;
	padding: 0 12px 0 5px; 
}
#battery:hover {
	background: white;
	color: black;
}
